@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background-color: #F7F9FC;
  font-family:'Lora', serif;
  color: #575F7D;
  font-size: 17px;
  line-height:;
  font-weight: lighter;
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  color: #ac4b1c;
  font-size: 20px;
  font-weight: 500;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 800px;
  color:#ac4b1c;
}

a:hover {
  color: black;
}

a:-webkit-any-link {
    cursor: pointer;
}

img {
  width: 20%;
  height: auto;
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  margin: 40px auto;
}


.home-card {
  background-color: white;
  padding: 50px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border: 1px, solid, black;
  text-align: center;
  margin: auto;
  width: 40%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.card {
  background-color: white;
  padding: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  margin: auto;
  width: 40%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.list-inline {
  font-size: 30px;
  display: inline-block;
  text-align: center;
  color: #ac4b1c;
  padding: 20px;
}

#btn {
  background-color: #ac4b1c;
  display: inline-block;
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  color: white;
}

#btn:hover {
  background-color: black;
  color: white;
}


#ul {
  padding-left: 0px;
}

#contact {
  font-size: 18px;
  font-weight: bold;
}










